.user_info{
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 1em 0;
}
#trip_inspiration_container{
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 2em;
}
#trip_inspiration_box{
    background-color: #ffffff;
    border: none;
    border-bottom: 3px solid #AEBF2A;
    padding: 2em;
    box-shadow: 0px 0px 7px #88888860;
    margin: 1em;
}
.container{
    flex-direction: column;
}