<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="nav_menu">
        <h2 id="myVoyage">my<span style="color:#AEBF2A;">Voyage</span></h2>
        <div class="nav_links">
            <a class="navlink" href="/dashboard">Dashboard</a>
            <a class="navlink" href="/plan-a-trip">Plan a Trip</a>
            <a class="navlink" href="/trip-inspiration">Trip Inspiration</a>
            <a class="navlink" href="/log-out">Logout</a>
        </div>
    </div>
    <div class="container">
        <div id="dashboard">
            <div class="box">
                {% if not upcoming.user_future_trips %}
                <h2>No trips planned yet!</h2>
                <div id ="green_line"></div>
                <a class="green_button" href="/plan-a-trip">Plan a Trip</a>
                {%else%}
                <h2>Upcoming Trip</h2>
                <div id ="green_line"></div>
                <div id="main_trip">
                    <div id="trip_info">
                        <div id="trip_name">
                            <h3>{{upcoming.user_future_trips[0].trip_name}}</h3>
                            <h3 class="dates">{{upcoming.user_future_trips[0].start_date.strftime("%m/%d/%Y")}} - {{upcoming.user_future_trips[0].end_date.strftime("%m/%d/%Y")}}</h3>
                        </div>
                        <p class="destination_names">{{upcoming.user_future_trips[0].destinations}}</p>
                        <p>{{upcoming.user_future_trips[0].description}}</p>
                    </div>
                    <div id="trip_timeline">
                        <h2>Itinerary</h2>
                        {% for one_activity in upcoming.future_trip_activities[:3] %}
                        {% if one_activity.id == None %}
                        <p style = "margin-bottom: 2em;">No activities planned yet!</p>
                        {%else%}
                        <div id="timeline">
                            <div class="timeline_item">
                                <div class="timeline_date">
                                    <p class="timeline_p">{{one_activity.activity_start.strftime("%m/%d")}}</p>
                                    <p class="timeline_p">{{one_activity.activity_start.strftime("%I:%M%p")}}</p>
                                </div>
                                <div class="timeline_dot"></div>
                                <div class="timeline_info">
                                    <h4 class="activity_name">{{one_activity.name}} | <a class="edit" href="/edit-activity/{{one_activity.id}}">Edit</a></h4>
                                    <p class="timeline_p">{{one_activity.address_location}}</p>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                        <a class="green_button view_trip" href="/plan-your-trip/{{upcoming.user_future_trips[0].id}}">Plan Your Trip</a>
                    </div>
                    <a class="blue_button view_trip" href="/journal/{{upcoming.user_future_trips[0].id}}">View Trip Journal</a>
                </div>
                {%endif%}

            </div>

            <div class="box" id="profile_info">
                <img src="{{url_for('static', filename='/images/placeholder.jpg')}}" alt="" class="profile" id="profile_pic">
                <h2>{{user_info.first_name}} {{user_info.last_name}}</h2>
                <p class="profile">{{user_info.bio}}</p>
                <a class="green_button view_button" href="/account">Edit Account</a>
            </div>
            <div class="box" id="past_trips">
                <div id="past_trip_heading">
                    <h2  class="past_trip_content">Past Trips</h2>
                    <a class="green_button past_trip_content" href="/past_trips">View All Past Trips</a>
                </div>
                <div id ="green_line"></div>
                <div id="all_past_trips">
                    {% if not user.user_past_trips %}
                    <p class="profile">No trips yet!</p>
                    {%else%}
                    {% for one_trip in user.user_past_trips[:3] %}
                    <div class="single_trip">
                        <div id="trip_name">
                            <h3 class="past">{{one_trip.trip_name}}</h3>
                            <h3 class="stars past">* * * * *</h3>
                        </div>
                        <h3 class="past">{{one_trip.start_date.strftime("%m/%d/%Y")}} - {{one_trip.end_date.strftime("%m/%d/%Y")}}</h3>
                        <p class="destination_names past">{{one_trip.destinations}}</p>
                        <p class="past">{{one_trip.description}}</p>
                        <a href="/view/{{one_trip.id}}" class="blue_button">Trip Journal</a>
                    </div>
                    {%endfor%}
                    {%endif%}

                </div>
            </div>
        </div>
    </div>
</body>
</html>