<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='past_trips_style.css') }}">

    <title>Plan a Trip</title>
</head>
<body>
    <div class="nav_menu">
        <h2 id="myVoyage">my<span style="color:#AEBF2A;">Voyage</span></h2>
        <div class="nav_links">
            <a class="navlink" href="/dashboard">Dashboard</a>
            <a class="navlink" href="/plan-a-trip">Plan a Trip</a>
            <a class="navlink" href="/trip-inspiration">Trip Inspiration</a>
            <a class="navlink" href="/log-out">Logout</a>
        </div>
    </div>
    <div class="container">
        <div id="dashboard">
            <div class="box" id="past_trips">
                <div class="trip">
                    <div id="left_column">
                        <div class="past_trip_info">
                            <div id="trip_name">
                                <h2 class="past">{{trip.trip_name}}</h3>
                                <a href="/edit-your-trip/{{trip.id}}" class="blue_button past">Edit Trip Information</a>
                            </div>
                            <h3 class="past">{{trip.start_date_mmddyyyy}} - {{trip.end_date_mmddyyyy}}</h3>
                            <p class="destination_names past">{{trip.destinations}}</p>
                            <p class="past">{{trip.description}}</p>
                            <div id ="green_line"></div>
                            <h2>Add to Your Trip</h2>
                            <form class="form" action='/add_activity' method='post'>
                                {% with messages = get_flashed_messages(category_filter=["activity error"]) %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <p class="validation">{{message}}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <input type="hidden" name="trip_id" value="{{trip.id}}">
                                <div class="field_name full_width">
                                    <label for="activity_name">Activity Name</label>
                                    <input type="text" name="activity_name" placeholder="Activity Name">
                                </div>
                                <div class="field_name full_width select_field">
                                    <label for="activity_type">Type of Activity</label>
                                    <select id="activity_type" name="activity_type">
                                        <option value="">Choose one...</option>
                                        <option value="Accomodation">Accomodation</option>
                                        <option value="Activity">Activity</option>
                                        <option value="Event">Event</option>
                                        <option value="Sight">Sight</option>
                                        <option value="Transportation">Transportation</option>
                                    </select> 
                                </div>
                                <div class="field_name full_width">
                                    <label for="activity_start">Start Date and Time</label>
                                    <input type="datetime-local" name="activity_start" placeholder="Start Date">
                                </div>
                                <div class="field_name full_width ">
                                    <label for="address">Location or Address of Activity</label>
                                    <input type="text" name="address" class="full_width" placeholder="Address/Location">  
                                </div>
                                <div class="field_name full_width">
                                    <label for="description">Description of Activity</label>      
                                    <textarea class="full_width" name="description" class="textarea" cols="30" rows="4" placeholder="Short Description"></textarea>
                                </div>
        
                                <input class="full_width" type="submit" name="add_activity" value="Add Activity" id="register">
                            </form>
                        </div>
                    </div>
                    <div id="trip_timeline">
                        <h2>Itinerary</h2>
                        {% if not trip.activity_list %}
                        <h4">No activities planned yet!</h4>
                        {%else%}
                        <div id="timeline">
                        {% for one_activity in trip.activity_list %}

                            <div class="timeline_item">
                                <div class="timeline_date">
                                    <p>{{one_activity.start_date_mmdd}}</p>
                                    <p class="time">{{one_activity.activity_start_date}}</p>
                                </div>
                                <div class="timeline_dot"></div>
                                <div class="timeline_info">
                                    <h4 class="activity_name">{{one_activity.name}} | <a class="edit" href="/edit-activity/{{one_activity.id}}">Edit</a></h4>
                                    <p>{{one_activity.address_location}}</p>
                                    <p class="activity_description">{{one_activity.activity_description}}</p>
                                </div>
                            </div>
                            {%endfor%}
                        {%endif%}
                        </div>
                        <a class="green_button" href="#">View Full Trip</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>