<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='past_trips_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='trip_journal_style.css') }}">


    <title>Trip Journal</title>
</head>
<body>
    <div class="nav_menu">
        <h2 id="myVoyage">my<span style="color:#AEBF2A;">Voyage</span></h2>
        <div class="nav_links">
            <a class="navlink" href="/dashboard">Dashboard</a>
            <a class="navlink" href="/plan-a-trip">Plan a Trip</a>
            <a class="navlink" href="/trip-inspiration">Trip Inspiration</a>
            <a class="navlink" href="/log-out">Logout</a>
        </div>
    </div>
    <h1 id="header">Journal Your Trip</h1>
    <div  id="journal_container">
            <div class="box">
                <div class="trip">
                    <div>
                        <div id="trip_name">
                            <h2 class="past">Trip Name</h3>
                            <a href="#" class="blue_button past">Edit Trip</a>
                        </div>
                        <h3 class="past">MM/DD/YY - MM/DD/YY</h3>
                        <p class="destination_names past">DESTINATION | DESTINATION | DESTINATION</p>
                        <p class="past">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>                
                    </div>
                    <div>
                        <h2>Add to Trip Journal</h2>
                        <form class="form" action='/register' method='post'>
                            {% with messages = get_flashed_messages(category_filter=["register error"]) %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <p class="validation">{{message}}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                                <select class="full_width" id="activity_type" name="activity">
                                    <option value="" >Choose activity...</option>
                                    <option value="accomodation">Activity</option>
                                </select>        
                                <textarea class="full_width" name="short_description" class="textarea" cols="30" rows="4" placeholder="Short Description"></textarea>
                                <input type="file" name="activity_picture" class="full_width" placeholder="Upload Picture from Activity">        
                            <input class="full_width" type="submit" name="add_journal" value="Add to Your Journal" id="register">
                        </form>
                    </div>
                </div>

            </div>

        </div>
        
    </div>
    <div id="trip_timeline">
        <h2>Itinerary</h2>
        <div id="timeline">
            <div class="timeline_item">
                <div class="timeline_date">
                    <p>MM/DD</p>
                    <p>00:00</p>
                </div>
                <div class="timeline_dot"></div>
                <div class="timeline_info">
                    <h4>Check In - Accomodation</h4>
                    <p>Address</p>
                    <p class="profile">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
                <img src="{{url_for('static', filename='/images/placeholder.jpg')}}" alt="" class="activity_pic">
            </div>
        </div>
    </div>
</body>
</html>